@media screen and (min-width:480px) and (max-width:767px) {
    .container {
        width: 428px;
    }
    
    .modal {
        width: 408px;
    }

    .form-container {
        width: 360px;
    }

    .input {
        width: 360px;
    }

    .enter-comment {
        width: 360px;
    }

    .send-button {
        margin: 21px auto 0;
    }

    .menu-phone {
        font-size: 36px;
        font-weight: 700;
    }

    .icons-menu {
        gap: 56px;
    }

    .checkbox-label1 {
        font-size: 12px;
    }

    .customer-box {
        width: 168px;
    }
}