@media screen and (min-width:768px) and (max-width:1199px) { /*без max-width:1440px правило з 768 юере пріоритет нвд правилом з 1440 з файлу ./css/desktopadaptive.css*/
    body {
        height: 100vh;
        overflow-x: hidden;
    }
    
    .header-flex {
        margin: 0;
    }

    .header-logo {
        padding: 24px 0;
    }

    .header-paddings {
        padding: 24px 0;
    }

    .contact-info-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 12px;
    }

    .contacts-menu {
        font-size: 12px;
    }

    .contacts-right-margin {
        margin-right: 0;
    }

    .ul-row {
        display: flex;
        list-style: none;
        gap: 40px;
        margin-left: 76px;
    }

    .header-burger {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
    
    .main-page-bg {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) ,  url(../images/tablet-bg.jpg);
    }

    .title {
        font-size: 56px;
        max-width: 495px;
    }

    .container {
        width: 768px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .goals-list {
        width: 768px;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: normal;
    }

    .goals-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 356px;
    }

    .goals-list-titles {
        text-align: left;
    }

    .members-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .footer-flex {
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer-logo {
        text-align: left;
    }

    .footer-titles {
        text-align: left;
    }

    .footer-form {
        flex-wrap: nowrap;
        justify-content: unset;
    }

    .footer-input {
        width: 264px;
    }

    .subscribe-footer {
        width: 496px;
    }

    .section-flex {
        padding: 120px 0;
    }

    .customers-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .product-list {
        width: 768px;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .product-card {
        width: 356px;
    }

    .buttons-list {
        justify-content: center;
    }

    .modal {
        width: 408px;
    }

    .form-container {
        width: 360px;
    }

    .input {
        width: 360px;
    }

    .enter-comment {
        width: 360px;
    }

    .send-button {
        margin: 21px auto 0;
    }

    .menu-phone {
        font-size: 36px;
        font-weight: 700;
    }

    .icons-menu {
        gap: 56px;
    }

    .checkbox-label1 {
        font-size: 12px;
    }

    .customer-box {
        width: 168px;
    }
}